*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
	touch-action: manipulation; /* meant to prevent 300ms delay on phone touch */
	white-space-collapse: discard; 
}

* {
	opacity: 1;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

/*PLAY SCREEN STYLES*/

a {
    text-decoration: none;
    color: inherit;
}

body {
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 0;
	color: #ddd;
	background: #222;
	height: 100vh;
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}

h1 {
	font-size: 5.8vh;
	z-index: 1;
	margin: 0;
	display: inline-block;
	font-weight: 200;
	margin-top: 6vh;
}

h2 {
	font-size: 4vh;
}

span, a, p {
	font-size: 3vh;
}

i {
	cursor: pointer;
}

.block {
	display: inline-block;
	outline: 1px solid #ddd;
	outline-right: none;
	z-index: 0;
}

.block:last-child {
	outline-right: 1px solid #ddd;
}

.gridRow {
	opacity: 1;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.miniBlock {
	display: inline-block;
	height: 1.8vh;
	flex: 1;
	outline: 1px solid #ddd;
	outline-right: none;
	background-color: #222;
	transition: .4s all ease;
}

.miniBlock:last-child {
	outline-right: 1px solid #ddd;
}

.miniBlock.filled {
	background-color: #ddd;
	/* outline: 2px solid #222; */
}

.powerUp {
	opacity: 0;
	visibility: hidden;
	margin: 3vh 0;
	border: 1px solid #ddd;
	font-size: 5.6vh;
	height: auto;
	width: auto;
	padding: 1.5vh;
	display: block;
	cursor: pointer;
}

@media (max-width: 900px) {
	/* enhanced GPU rendering on mobile */
	.row {
		transform: rotateY(0deg);
		transform: translate3d(0, 0, 0);
		-webkit-perspective: 800px;	
		perspective: 800px;
	}
}
.scoreAnimation {
	font-size: 4.6vh;
	opacity: 1;
	margin: 0 auto;
	width: 100%;
	color: #ddd;
	text-stroke: 1px #fff;
	/* -webkit-text-stroke: 1px #fff; */
	/* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
	/*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
	font-weight: 900;
	position: absolute;
}

#blockCounter {
	display: flex;
	margin: auto;
	margin-top: 2.7vh;
	width: 96%;
	height: 1vh;
}

#container {
    display: block;
    margin: auto;
    width: 95%;
    text-align: center;
    height: 100vh;
    position: relative;
}

#currentMatches {
	outline-bottom: 1px solid #ddd;
	padding-bottom: 1vh;
	margin-bottom: 0;
}

#neededMatches {
	margin-top: 1vh;
}

#gameContainer {
	display: inline-block;
	margin: auto;
	text-align: center;
	position: relative;
	opacity: 1;
	perspective: 500px;
}

#gameContainer.transitioning .block,#gameContainer.transitioning #grid {
	opacity: .5;
} 

#gameContainer.transitioning .scoreAnimation {
	opacity: 1;
}

#grid {
	margin: auto;
	outline: 1px solid #ddd;
	height: 450px;
	display: block;
	vertical-align: bottom;
	position: relative;
	opacity: 1;
	perspective: 800px;
	z-index: 3;
}

#leftSide {
	display: inline-block;
	margin: 0 4vh 10.4vh 0;
	vertical-align: bottom;
	text-align: center;
	width: 9vh;
}

#loseMessage {
	font-size: 48px;
	color: #ddd;
	font-weight: 100;
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

#matchedDisplay {
	font-size: 24px;
	text-align: center;
	opacity: 1;
	font-weight: 200;
	display: block;
	vertical-align: text-bottom;
	margin-top: 1vh;
}

#matchedDisplay p {
	font-size: 5.6vh;
}

#nav {
	margin-top: 2%;
	margin-left: 65%;
	display: block;
	display: none;
}

#nav a {
	font-size: 12px;
	margin: 5px 15px;
}

#overlay {
	background: white;
}

#playerRow {
	position: absolute;
	text-align: center;
}

#playerRowContainer {
	perspective: 900px;
	margin: auto;
	margin-top: 3.3vh;
	position: relative;
	text-align: center;
	outline: 1px solid #ddd;
}

#readoutData {
	position: relative;
	width: 95%;
	margin: auto;
	height: 4.5vh;
}

#shifters {
	margin-bottom: 25px;
}

#shifters .powerUp:first-child {
    border-bottom: none;
}

#shifters .powerUp {
    margin: 0px;
}

#readout {
	background: #222;
	transform: translateZ(0px);
	width: 105%;
	position: relative;
	margin-left: -2.5%;
	margin-bottom: 1px;
	margin-top: 1.8vh;
	height: 10.6vh;
	z-index: 3;
	font-weight: 200;
}

#readout p {
    position: absolute;
    margin: 0;
    /* bottom: 1vh; */
    font-size: 5.8vh;
}

#readout #level {
	opacity: 1;
	position: absolute;
	left: 0;
}

#readout #score {
	right: 0;
}

#reset,#goBack {
	font-size: 9vh;
	position: fixed;
	top: 0;
}

#reset {
	left: 0;
}

#goBack {
	right: 0;
}

#playButton {
	outline: 1px solid #ddd;
	background: #222;
	padding: 15px;
	cursor: pointer;
	display: inline-block;
	margin: 0;
}

#gameContainer #playButton {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
	font-size: 5.8vh;
	visibility: hidden;
	display: inline
}

#gridAdvice {
    right: -155px;
    bottom: 330px;
}

#blockAdvice {
    right: -150px;
    bottom: 2%;
}

@media screen and (max-width: 800px) {

	#nav {
		float: none;
		text-align: center;
		margin: 0;
		padding: 10px;
		background: none;
	}

	#nav.day {
		background: #ddd;
		}
	
	#nav a {
		font-size: 26px;
	}
}


/*HOME SCREEN STYLES*/

.menu-item {
	height: 20vh;
	width: 20vh;
	display: inline-block;
	outline: 1px solid #ddd;
}

.menu-item.top {
	outline-bottom: none;
}

.menu-item:nth-child(odd) {
	outline-right: none;
}

.menu-item .material-icons {
	font-size: 15vh;
	line-height: 20vh;
	cursor: pointer;
	font-weight: 100;
}

#home-content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#home-content #title-wrapper h1 {
	margin: 2vh;
	font-size: 6.4vw;
}

h2#high-score {
	font-size: 3.8vw;
	margin: 3vh 0;
}

#high-score .score {
	font-size: inherit;
}

/*TUTORIAL SCREEN*/

.advice {
	font-size: 5vh;
	font-weight: 100;
	opacity: 0;
	text-align: center;
	visibility: hidden;
}

#tutorial-box {
	width: 100%;
	padding: 2vh;
}

#tutorialContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%,-50%);
}

#tutorialContainer p#powerUpAdvice {
    left: -59%;
    bottom: 290px;
    max-width: 150px;
}

.glowing {
	box-shadow: 0 0 25px 10px #D4B66A;
}

#playerRow.glowing {
	animation: none;
}

.pulsing {
	animation: pulse 2s infinite;
	z-index: 100;
	position: relative;
}

@-webkit-keyframes pulse {
  0% {
	box-shadow: 0 0 25px 0px #ddd;
  }
  50% {
	box-shadow: 0 0 25px 10px #ddd;
  }
  100% {
	box-shadow: 0 0 25px 0px #ddd;
  }
}

@keyframes pulse {
  0% {
	box-shadow: 0 0 25px 0px #ddd;
  }
  50% {
	box-shadow: 0 0 25px 10px #ddd;
  }
  100% {
	box-shadow: 0 0 25px 0px #ddd;
  }
}


.pulsingText {
	animation: pulseText 2s infinite;
	z-index: 100;
	position: relative;
}

@-webkit-keyframes pulseText {
  0% {
	text-shadow: 0 0 0px #ddd;
  }
  50% {
	text-shadow: 0 0 10px #ddd , 0 0 20px #ddd , 0 0 30px #ddd , 0 0 40px #ddd, 0 0 70px #ddd, , 0 0 100px #ddd;

  }
  100% {
	text-shadow: 0 0 0px #ddd;
  }
}

@keyframes pulseText {
  0% {
	text-shadow: 0 0 0px #ddd;
  }
  50% {
	text-shadow: 0 0 10px #ddd , 0 0 20px #ddd , 0 0 30px #ddd , 0 0 40px #ddd, 0 0 70px #ddd, , 0 0 100px #ddd;

  }
  100% {
	text-shadow: 0 0 0px #ddd;
  }
}

.colorPulsing {
	animation: colorpulse 2s infinite;
	z-index: 100;
	position: relative;
}

@-webkit-keyframes colorpulse {
  0% {
	box-shadow: 0 0 25px 0px #5e99b0;
  }
  50% {
	box-shadow: 0 0 25px 10px #5e99b0;
  }
  100% {
	box-shadow: 0 0 25px 0px #5e99b0;
  }
}

@keyframes colorpulse {
  0% {
	box-shadow: 0 0 25px 0px #5e99b0;
  }
  50% {
	box-shadow: 0 0 25px 10px #5e99b0;
  }
  100% {
	box-shadow: 0 0 25px 0px #5e99b0;
  }
}


/*ABOUT SCREEN*/

.about-pic {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.about-pic h1 {
	margin: 0;
	font-size: 3.6rem;
	margin-bottom: 0.25rem;
}

.about-pic img {
	border: 3px solid #111;
	width: 36rem;
}

/*SETTINGS SCREEN*/

#settings-container {
	overflow: auto;	
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#settings-container > h4 {
	font-size: 10vh;
	font-weight: 100;
	margin-top: 30vh;
	text-align: center;
}

/* The switch - the box around the slider */

.settings-option {
	margin: 5vh 0;
	/* display: flex; */
	/* justify-content: center; */
	width: 100%;
}

.settings-option h4 {
	font-size: 64px;
	vertical-align: middle;
	display: inline-block;
	margin: 0;
	padding-right: 1vh;
	width: 50%;
	text-align: right;
}

.settings-visual {
	display: inline-block;
	width: 50%;
	text-align: left;
	padding-left: 1vh;
}


.switch {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 152px;
  height: 88px;
  margin-left: 2vh;
}

/* Hide default HTML checkbox */
.switch .switch-button {
	display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 64px;
  width: 64px;
  left: 12px;
  bottom: 12px;
  background-color: #222;
  -webkit-transition: .4s;
  transition: .4s;
}

.colors.slider {
	background-color: rgb(192, 74, 188);
}

.colors.slider:before {
	background-color: rgb(76,134,168);
}

span.slider.activated:before {
  background-color: rgb(170, 77, 57);
}

span.slider.activated {
  background-color: rgb(39, 88, 107);
}

span.slider.activated.alt:before {
  background-color: rgb(76,134,168);
}

span.slider.activated.alt {
  background-color: rgb(192, 74, 188);
}

span.slider.activated.colors.alt:before {
  background-color: rgb(170, 77, 57);
}

span.slider.activated.colors.alt {
  background-color: rgb(76,134,168);
}

span.slider.activated:before {
  -webkit-transform: translateX(64px);
  -ms-transform: translateX(64px);
  transform: translateX(64px);
}

.slider.round {
  border-radius: 64px;
}

.slider.round:before {
  border-radius: 50%;
}

/* "buyIt" view */

.buyIt-wrapper img {
	/* margin-top: 6vh; */
	display: block;
	margin: 0 auto;
}